/*
 * TABLE OF CONTENTS
 *
 *
 * 1.0. GLOBAL
 *  1.1. KEYFRAMES
 * 2.0. MAIN
 *
 */


/**
 * 1.0. GLOBAL
 */
body {
    background-color: #22313F;
    width: 250px;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: #fff;
}

.wrapper {
    display: block;
    position: relative;
}

.header {
    background-color: #22313F;
    height: 170px;
    line-height: 110px;
    z-index: 300;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.footer {
    height: 150px;
    background-color: #fff;
    z-index: 100;
}

.btn {
    text-transform: uppercase;
    text-align: center;
    transition: all .3s;
}


/**
 * 1.1. KEYFRAMES
 */
/* Pulsar effect */
@keyframes pulsar {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Loading effect */
@keyframes loading {
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}


/**
 * 2.0. MAIN
 */
.project-meta {
    position: relative;
    margin: 16px 16px 0 16px;
    font-weight: 100;
    color: #d3d3d3;

}

.project-path {
    color: #d3d3d3;
    word-wrap: break-word;
}

.terminal-meta {
    color: #00BCD4;
}

.code {
    color: #183691;
    background-color: #f7f7f7;
}

.comment {
    background-color: #f7f7f7;
    color: #969896;
}

.underscore {
    color: #fff;
    -webkit-animation: pulsar 1s 0s linear infinite;
    animation: pulsar 1s 0s linear infinite;
}

.btn-counter {
    position: absolute;
    display: block;
    bottom: -56px;
    right: 16px;
    background-color: #E91E63;
    padding: 16px;
    color: #fff;
    border: none;
    margin-bottom: 16px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 400;
}

.btn-counter:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.widget {
    width: 100%;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}

.tip {
    padding: 40px 16px;
    font-size: 12px;
    color: #2d2d2d;
    display: block;
    position: relative;
}

.loading-bar {
    height: 40px;
}

.loading {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    height: 4px;
    overflow: hidden;
    background: DeepSkyBlue;
    box-shadow: 0 2px 0 black;
}

.loading:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: DeepPink;
    animation: loading 3s ease infinite;
}

.copyright {
    position: absolute;
    display: block;
    bottom: 16px;
    left: 16px;
    color: #2d2d2d;
}
